

body {
    color: darkgreen;
    font-family: Symbol, "BM Hanna Pro", sans-serif;
}
.wrap {
    padding: 0 20px;
    width: 100%;
    max-width: 640px;
}
.header {
    margin: 24px 0 24px;
}
h2 {
    color: orange;
}
.user {
    text-align: right;
    padding-right: 10%;
}
.today {
    margin-top: 12px;
    text-align: right;
    padding-right: 10%
}
.inputForm {
    background: #e9ecef;
    border-radius: 4px;
    margin: 12px 10%;
    padding: 10px;
}
label {
    color: salmon;
}
.inputTodo {
    background: #e9ecef;
    min-width: 69%;
    border: none;
}
.addButton {
    width: 10%;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 24px;
}
.list {
    margin-top: 20px;
    padding: 10px;
}

li {
    list-style: none;
}

.listItem {
    margin-top: 10px;
    padding-left: 10%;
    margine-bottom: 10px;
}

.checkBox {
    display: inline-block;
}

.content {
    font-size: 20px;
    margin-left: 16px;
}

.checked {
    text-decoration: line-through;
    color: #aaa;
}
.delete {
    display: inline-block;
    margin-left: 4%;
    padding: 0 10px;
    font-size: 17px;
}